absl-py==1.0.0
ale-py==0.7.3
asttokens==2.0.5
attrs==21.4.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
backcall==0.2.0
black==21.12b0
blessed==1.19.1
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==2.0.0
cycler==0.11.0
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.4
dm-env==1.5
dm-tree==0.1.6
enlighten==1.10.2
envpool==0.4.5
executing==0.8.2
-e git+ssh://git@github.com/howardh/experiment.git@af7770ebbe629c7133958b797dd8f226e5e2f844#egg=experiment
filelock==3.6.0
fonttools==4.28.5
-e git+ssh://git@github.com/howardh/frankenstein.git@1505dbd06018e63435d86bc79b056486b12677bf#egg=frankenstein
grpcio==1.44.0
gym==0.21.0
idna==3.3
imageio==2.16.1
importlib-resources==5.4.0
iniconfig==1.1.1
ipython==8.0.1
jedi==0.18.1
joblib==1.1.0
jsonschema==4.4.0
kiwisolver==1.3.2
line-profiler==3.4.0
lz4==4.0.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
memory-profiler==0.60.0
msgpack==1.0.3
mypy-extensions==0.4.3
networkx==2.7.1
numpy==1.22.0
opencv-python==4.5.5.62
packaging==21.3
pandas==1.4.1
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
platformdirs==2.4.1
pluggy==1.0.0
prefixed==0.3.2
prompt-toolkit==3.0.24
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.1
py==1.11.0
pyaml==21.10.1
Pygments==2.11.2
pyparsing==3.0.6
pyrsistent==0.18.1
pytest==6.2.5
pytest-mock==3.6.1
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
ray==1.10.0
redis==4.1.4
requests==2.27.1
-e git+ssh://git@github.com/howardh/rl.git@2436de6465ea49170a6252ffe704a1cee71bf3ef#egg=rl
scikit-image==0.19.2
scikit-learn==1.0.2
scikit-optimize==0.9.0
scipy==1.7.3
six==1.16.0
stack-data==0.1.4
tabulate==0.8.9
tensorboardX==2.5
threadpoolctl==3.0.0
tifffile==2022.2.9
toml==0.10.2
tomli==1.2.3
torch==1.10.1
torchtyping==0.1.4
tqdm==4.62.3
traitlets==5.1.1
typeguard==2.13.3
typer==0.4.0
types-futures==3.3.7
types-protobuf==3.19.5
typing_extensions==4.0.1
urllib3==1.26.8
wcwidth==0.2.5
wrapt==1.13.3
zipp==3.7.0
